#wrapper {
    background-color: sandybrown;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.displayInLine {
    display: inline;
}

.overFlow {
    overflow: hidden;
}

div {
    display: block;
}

.floatLeft {
    float: left;
}

.clearFix {
    clear: both;
}

#content {
    width: 576px;
    padding: 10px;
}

.pic {
    padding: 5px;
    width: 329px;
    position: relative;
    text-align: center;
    color: black;
}

#top {
    height: 135px;
    line-height: 135px;
}

.list {
    width: 576px;
    text-align: right;
}